.tooltip-target .tooltip {
  position: absolute;
  margin-bottom: 20%;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  display: inline-block;
  transition: opacity 0.5s;
  text-align: center;
  background: whitesmoke;
  border: solid whitesmoke 5px;
  border-radius: 5px;
  bottom: 110%;
  white-space: nowrap;  // Make tooltip one line.
}
.tooltip-target:hover .tooltip {
  visibility: visible;
  opacity: 0.8;
}
.tooltip-target .tooltip-centerer {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
